body {
  display:flex;
  flex-direction: column;
}

/* Header */
header {
  display:flex;
  justify-content: space-around;
  align-items:center;
  background-color:#1F2937;
  color:#F9FAF8;
}

.logo {
  font-size: 24px;
}

ul {
  display: flex;
  gap: 20px;
}

li {
  list-style-type:none;
  font-size: 18px;
  color: #E5E7EB;
}

/* First section */

.website-description {
  display:flex;
  justify-content: space-around;
  align-items:center;
  background-color:#1F2937;
  color:#F9FAF8;
}
.description-text{
	display: flex;
	flex-direction: column;
	margin: 40px;
}

.web-illustration{
  padding: 20px;
  height: auto;
  width: 400px;
}

.description-text + h1 {
	font-size: 48px;
	font-weight: 900;
}

h1 + p {
	font-size: 18px;
	color: #E5E7EB;
}







